@charset "UTF-8";

h1{
	color:green;
	font-size: 30px;
	text-align: center;
}

h2{
	color: chocolate;
	font-size: 30px;
	text-align: center;
}

h3{
	color:darkred;
		font-size: 30px;
		text-align: center;
}

p{
	color: red;
	border: 1px solid blue;
}

p.profile{
	color: aqua;
}
