@charset "UTF-8";

h1 {
	color: green;
	font-size: 30px;
	text-align: center;
	font-style: bold Arial;
}

h2 {
	color: chocolate;
	font-size: 30px;
	text-align: center;
	font-family: italic;
}

h3 {
	color: darkred;
	font-size: 30px;
	text-align: center;
}

h4 {
	color: yellow;
	font-size: 30px;
	text-align: center;
}

h5 {
	color: darkturquoise;
	font-size: 30px;
	text-align: center;
	font-style: message-box;
}

p {
	border: 1px solid black;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

img {
	max-width: 200px;
	height: auto;
	margin: 0 auto;
}